{% extends 'base.html' %}
{% load static %}
{% block new_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile/profile_style.css' %}">
{% endblock %}
{% block content_1 %}
    <div class="container">
        <h1 class="username_title">{{user.username}} Favorite Movies!</h1>
        {% if lista_movies %}
            {% for a in lista_movies %}
                    <a href="/id={{a.imbd_id}}"><img alt='{{a.movie_title}}' class='posters' src={{a.poster_path}} style="width: 25%; height: 40%"></a>
            {% endfor %}
        {% else %}
            <h2 style="text-align: center;">You dont have favorited movies! :(</h2>
        {% endif %}
    </div>
<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
 {% endblock %}