.poster {
    box-shadow: 0px 0px 7px black;
    border-radius: 15px 50px 13px;
    height: 500px;
    width: 300px;
}

.tagline {
    border-radius: 10px;
    padding: 10px;
    background: #b0b0b0;
}

.tagline-small {
    font-size: 20px;
}

.tagline-big {
    font-size: 15px;
}
.movieTitle {
    border-bottom: solid;
}
a {
    text-decoration: none;
    color: #1b262c;
}
.overview {
    padding-bottom: 15px;
    padding-right: 15px;
    font-size: 19px
}

.details {
    padding-top: 12px;
    font-size: 20px;
}

a:hover {
    color: red;
}

/* Favorite Button and Image Style */
button {
    float: left;
    border: none;
    background: inherit;
    cursor: pointer;
}
.star-image {
    margin-top: 21.5px;
    width: 140%;
    height: 140%;
}
.star_image_black {
    margin-top: 21.5px;
    float: left;
    height: 5%;
    width: 5%;
}

@media screen and (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr;
    }
    .poster {
        height: 400px;
        width: 100%;
    }
    .tagline {
     border-radius: 10px;
    padding: 5px;
    background: #b0b0b0;
    }
    .overview {
        font-size: 15px;
        line-height:  1.6em;
    }
}
