/* Title/Username Styling */

.username_title {
    grid-area: username;
    text-align: center;
    border-bottom: 4px solid black
}

.container {
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 'username username username' 'posters posters posters'
}

/* Posters Styling */
.posters {
    grid-area: posters;
    height: 500px;
    width: 300px;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px 50px 13px;
}

.posters:hover {
    transition: transform .3s ease;
    transform: scale(1.02);
}

@media screen and (max-width: 1200px) {
    .posters {
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        height: 350px;
        width: 95%;
        margin: 5% 0;
    }
    .username_title {
        font-size: 25px;
        word-wrap: break-word;
        margin-bottom: 10%
    }
    .container {
        overflow: scroll;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 1fr;
        grid-template-areas: 'username' 'posters'
    }
}