{% extends 'base.html' %}
{% load static %}
{% block content_1 %}
{% block new_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login_register/login_register.css' %}">
{% endblock %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <b><li{% if message.tags %} class="messages-{{ message.tags }}"{% endif %}>{{ message }}</li></b>
    {% endfor %}
</ul>
{% endif %}
{% load crispy_forms_tags %}
  <div class='wrapper'>
    <div class='container'>
      <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
          <button type='submit' id='boton'>Login</button><br>
          <small>
            <a href="{% url 'password_reset' %}">Forgot password?</a>
          </small>
      </form>


    </div>
  </div>
 {% endblock %}

