{% extends 'base.html' %}
{% load static %}
{% block content_1 %}
{% block new_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login/login_style.css' %}">
{% endblock %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <b><li{% if message.tags %} class="messages-{{ message.tags }}"{% endif %}>{{ message }}</li></b>
    {% endfor %}
</ul>
{% endif %}
{% load crispy_forms_tags %}
  <div class='grid'>
    <div class='content-section'>
      <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
          <button class="btn btn-outline-info" type='submit' id='boton'>Reset Password</button>
      </form>

    </div>
  </div>
 {% endblock %}
