{% extends 'base.html' %}
{% load static %}
{% block content_1 %}
{% load crispy_forms_tags %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login_register/login_register.css' %}">
  <div class='wrapper'>
    <div class='container'>
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ register_form|crispy }}
        </fieldset>
          <button type='submit' id='boton'>Register</button>
      </form>

    </div>
  </div>
 {% endblock %}

